{% extends 'base.html' %}

{% block head %}
<title>BARRBALLAN</title>
{% endblock %}

{% block body %}
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h2><b>Rekomendasi Penjualan Pemain PES 2020</b></h2>
            <h4>Pada website ini Anda dapat mencari rekomendasi untuk menjual tim pada Game PES 2020 di Master League khusus yang memilih tim Liga Inggris</h4>
            <p><b>Cara Penggunaan: </b></p>
            <ul>
                <li>Klik Tombol Pilih Tim Anda</li>
                <li>Isi Semua Fitur yang Telah Disajikan</li>
                <li>Klik Submit</li>
                <li>Rekomendasi Nama Pemain Liga Inggris akan Tampil</li>
            </ul>
                <a class="btn btn-primary" href="/form" role="button">Pilih Tim Anda &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}